# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignored React components
/src/components/Deposit
/src/components/Home
/src/components/pages
/src/components/Transactions
/src/components/Withdraw
/src/components/NotFound
/src/components/Sidebar
