.register-container {
    max-width: 480px;
    margin: 20px auto;
    padding: 30px 20px 20px 10px ;
    text-align: center;
    /* border: 1px solid gold; */
    background-color: white;
    border-radius: 15px;
    
}

.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-header h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.register-subtitle {
    color: #4080FC;
}

.register-logo {
    width: 50px;
    height: 50px;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    padding: 20px;
    /* border: 1px solid tomato; */
}

/* Core input field container */
.input-field {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Top-left label */
.fieldset-legend {
    font-size: 16px;
    color: #7e7c7c;
    margin-bottom: 4px;
    padding-left: 2px;
}

/* Icon + input container */
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* Icon inside input */
.input-icon {
    color: #4080FC;
    position: absolute;
    left: 10px;
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

/* Input box with padding for icon */
.input-box {
    width: 100%;
    padding: 10px 12px 10px 36px;
    border: 2px solid #a4bae5;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.input-box:focus {
    border-color: #4080FC;
}

.register-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #4080FC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover {
    opacity: 0.9;
}